.h3 {
  letter-spacing: 2px;
  line-height: 46px;
  color: #3d3d3d;
  font-weight: 700;
  font-size: 2.9rem;
  font-family: "Bebas Neue";
  margin-bottom: 0;
  display: inline-block;
}
.h1 {
  line-height: 3.6rem;
  color: #3d2514;
  font-weight: 400;
  font-family: "Alfa Slab One";
  font-size: 4.2rem;
  margin-top: -1rem;
  margin-bottom: 3rem;
  display: block;
}
.p {
    font-size: 2rem;
  line-height: 2.3rem;
  color: #3d3d3d;
  font-weight: 400;
  font-family: "Montserrat";
}
.burger{
    width: 100%;
    height: 100%;
}
.row{
    height: auto;
    padding: 1rem 1rem;
    box-shadow: 0.5rem 1.5rem 3rem rgba(0, 0, 0, 0.5);
}

@media (max-width:480px) {
    .p{
      margin-bottom: 3rem;
    }
    .row{
     padding: 0.5rem 0;
    }
}
.control{
    display: flex;
}