.img{
    margin: 3rem auto;
    border-radius: 100px;
    height: 12rem;
    width: 12rem;
    cursor: pointer;
}
.h1{
    font-size: 2.5rem;
    color:#3d2514 ;
}
h1,h4{
    display: inline;
    font-weight: 700;
}
h4{
    font-size: 1.9rem;
}
.info{
    margin-top: 3rem;
}
.up{
    border :none;
    display: block;
    margin: 1rem auto;
    background-color: #3d2514;
    font-size: 1.9rem;
    color: white;
    padding: 0.9rem;
    border-radius: 100px;
}
.up:hover{
    background-color: #5c3c26;
}
