.logoContainer {
    width: 23rem;
    cursor: pointer;
}
.logo{
    width: 100%;
}
.navlink{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: rgba(0,0,0,.55);
    margin-left: 0.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-decoration: none;
    margin-left: 1.2rem;
}
.navlink:hover{
    color: #6D4E29;
}
.collapse {
   justify-content: end;
}
.toggleContainer{
    width: 100%;
    text-align: center;
}
.toggle{
    padding: 0;
    font-size: 2.2rem;
    box-shadow: none !important;
    border-radius: 0.5rem;
    border: none;
}
.bike{
    width: 3.5rem;
}
.contact{
    display: flex;
    justify-content: end;
}
.h5{
    margin: 0.7rem 0.5rem 0 1.3rem;
    color: #6D4E29;
    position: relative;}

    @media (max-width : 480px) {
        .collapse{
            margin-top: 2rem;
            text-align: center;
        }
    }